/* 
CSS Reset
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 
ANIMATION
*/
/* 
General Code
 */

 main{
     background-image: url(images/white-marble-texture.jpg);
     background-repeat: repeat;
     max-width: 1200px;
     margin: 0 auto;
 }
 footer{
     font-size: 1.2rem;
     color: antiquewhite;
     background-color: #333;
 }
 /* HEADER */
 #logo{
    width: 100%;
}
header{
    display: block;
    width: 100%
}
h1{
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    margin: 20px 10px 25px;
}

h2{
    font-size: 2.2rem;
    font-weight: 800;
    text-align: center;
    margin: 20px 10px 25px;
}

h3{
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    padding-bottom: 15px;
 }
 h4{
    font-size: 1.8rem;
    font-weight: 800;
    text-align: center;
    padding-bottom: 15px;
 }
/* NAV */
nav{
	background-color: white;
	padding: 15px;
}

nav a{
	text-decoration: none;
	color: #000;
	font-size: 1.1em;
    text-align: center;
}
nav li{
	display: block;
	padding:15px 40% 15px 40% ;
}

 /* 
    Index
*/
.home-page-stuff{
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    padding: 10px;
    align-content: center;
    justify-content: center;
}

#Text-B-I-1{
   order: 1;
   display: block;
   margin: 20px 10px;
}

#photo-1{
    order: 2;
    display: block;
    margin: auto;
    padding: 30px 0px;
}

#Text-B-I-2{
    order: 3;
    display: block;
    margin: 20px 10px;
}

#photo-2{
    order: 4;
    display: block;
    margin: auto;
    padding: 30px 0px;
}

#Text-B-I-3{
   order: 5;
   display: block;
   margin: 20px 10px;
}

#photo-3{
   order: 6;
   display: block;
   margin: auto;
   padding: 30px 0px;
}

#Text-B-I-4{
    order: 7;
    display: block;
    margin: 20px 10px;
}
/* 
    CakePops
*/

.products{
    padding: 10px;
}
.product{
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    align-content: center;
    justify-content: center;
}

.product h4{
    order: 1;
    margin-top: 5px;
}

.product picture{
    order: 2;
}

.product p{
    order: 3;
    margin: 10px;
}

.product button{
    order: 4;
}

#photo-4{
    margin: auto;
    padding: 30px 0px;
}

#photo-5{
    margin: auto;
    padding: 30px 0px;
}

#photo-6{
    margin: auto;
    padding: 30px 0px;
}

#product-1{
    border: solid cyan 3px;
}

#product-2{
    border: solid cyan 3px;
}

#product-2 p{
    order: 4;
}

#product-3{
    border: solid cyan 3px;
}
#product-3 picture{
    order: 3;
}

#product-4{
    border: solid cyan 3px;
}

#product-5{
    border: solid cyan 3px;
}

#product-6{
    border: solid cyan 3px;
}

button{
    background-color: #444;
    border: #000;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
}
/* 
     About
  */


 .about-p, iframe{
      width: calc(100vw - 30px);
      margin: 15px;
  }
/* 
Desktop
*/
@media screen and (min-width: 769px) {
        /* 
    Index
    */

    /* 
    CakePops
     */

     /* 
     About
      */

      
}
